# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django-specific
db.sqlite3
db.sqlite3-journal
media/
# Generated static build output
skillsphere/staticfiles/

# Environments
.venv/
venv/
ENV/
env/
*.env
!.env.example

# VS Code settings
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log

.idea/
