<!DOCTYPE html>
<html>
<head>
    <title>Assessment</title>
    <style>
        body { font-family: Arial; background:#f0f2f5; }

        .container {
            width:70%;
            margin:auto;
            padding:20px;
        }

        .card {
            background:white;
            padding:15px;
            margin:10px 0;
            border-radius:8px;
            border-left:4px solid #ff9800;
        }

        .score {
            font-size:18px;
            font-weight:bold;
            color:#333;
        }
    </style>
</head>
<body>

<div class="container">
    <h2>Assessment Results</h2>

    {% for a in assessments %}
        <div class="card">
            <p><b>Skill:</b> {{ a.candidate_skill.skill.skill_name }}</p>
            <p><b>Test:</b> {{ a.test_type }}</p>
            <p class="score">Score: {{ a.score }}</p>
            <p>Passed: {{ a.passed }}</p>
        </div>
    {% empty %}
        <p>No assessments yet.</p>
    {% endfor %}
</div>

</body>
</html>